<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title><%= current_page.data.title || "Nadler Straßentechnik GmbH" %></title>

    <link href='//fonts.googleapis.com/css?family=Exo+2:400,500,100' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <%= javascript_include_tag "index" %>
  </body>
</html>
