<!doctype html>
<html>
  <head>
    <%= partial('layouts/head') %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial('layouts/header') %>

    <div class="page">
      <div class="page-pusher">
        <%= yield %>
        <%= partial('layouts/footer') %>
      </div>
    </div>

    <%= javascript_include_tag "index" %>
  </body>
</html>
